#encoding: utf-8
<% provide(:title, 'Terminos y Condiciones') %>
<h1>Términos y Condiciones</h1></br>
<p>Declaro CONOCER y ACEPTAR en su totalidad los términos y condiciones de la reglamentación vigente, la <a href="../INT_PRESENTA_Convocatoria_Catalogo_2015.doc"> Reglamentación del Registro Nacional del Teatro Independiente </a>, la <a href="http://www.infoleg.gov.ar/infolegInternet/anexos/40000-44999/42762/norma.htm">  Ley Nº 24.800 </a>, y su <a href="http://www.infoleg.gov.ar/infolegInternet/anexos/45000-49999/46047/norma.htm">  Decreto Reglamentario Nº 991/97 </a></p></br>
<%= link_to "Acepto terminos y condiciones",formularios_path, method: :post, class: "btn btn-large btn-primary" %>