<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido al sistema de recuperacion de contrasenia, <%= @user.name %></h1>
    <p>
      Su contrasenia es: <%= @user.password %>.<br>
    </p>
    <p>Si usted no realizo la accion de recuperar contrasenia, por favor ignore este mail. Buenos dias!</p>
  </body>
</html>