#encoding: utf-8
<% provide(:title, 'Datos del responsable') %>
<h1>Datos del responsable</h1>

<%= link_to "Persona Fisica ya ingresada al sistema",formularios_path, method: :post, class: "btn btn-large btn-primary" %></br>

<%= link_to "Persona Fisica nueva",formularios_path, method: :post, class: "btn btn-large btn-primary" %></br>

<%= link_to "Persona Juridica",formularios_path, method: :post, class: "btn btn-large btn-primary" %>
